@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.custom-scrollbar {
  scrollbar-color: #277bfa #d4e5fd;
  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track-piece {
  background-color: #d4e5fd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #277bfa;
}

input:-webkit-autofill,
:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}
